.Review {
  width: 100%;
  height: 90vh;
  display: flex;
  margin-bottom: 70px;
}

.Review .leftSide {
  height: 100%;
  flex: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
}

.Review .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.Review .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  font-size: 50px;
  align-self: center;
  margin-top: 130px;
  margin-bottom: 30px;
}

.Review form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
}

.Review form input {
  height: 40px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
  align-self: center;
  margin-bottom: 20px;
}

.Review form textarea {
  margin-top: 15px;
  margin-bottom: 20px;
  height: 70px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #121619;
  color: rgb(0, 0, 0);
  align-self: center;
}
.Review input::placeholder,
.Review textarea::placeholder {
  font-weight: bold;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.Review form input:focus,
.Review textarea:focus {
  outline: none;
}

.Review form label {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 30px;
  color: black;
  font-weight: bolder;
}

.Review form button {
  margin-top: 40px;
  margin-left: 25px;
  align-self: center;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #416408;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.Review form button:hover {
  border: 3px solid #79ac78;
  color: white;
  font-size: 18px;
}

.Review select {
  width: 90%;
  border: none;
  border-bottom: 1px solid #121619; /* Add a bottom border for the line effect */
  padding: 8px 0; /* Adjust padding as needed */
  font-size: 16px;
  background-color: transparent; /* Make background transparent */
  align-self: center;
}

/* Remove default arrow */
.Review select::-ms-expand {
  display: none;
}
.Review select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
.Review select .option {
  font-size: 16px;
  color: black;
}*/
/*
.Review .defaultOption {
  font-weight: bold;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}*/

/*.Review .defaultOption.selected {
  font-weight: normal;
  font-size: 16px;
  color: black;
}*/

.Review select:focus {
  border-bottom: 1px solid #121619; /* Hide border on focus */
  outline: none;
}

.Review select option {
  font-size: 16px;
  color: black;
}

/* Styles for the default option */
.Review .defaultOption {
  font-weight: bold;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.Review select.selected {
  font-weight: normal;
  font-size: 16px;
  color: black;
}