.admin-dashboard body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #a39ea4;
  font-family: 'Montserrat', sans-serif;
  
}

.admin-dashboard .icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.admin-dashboard .icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.admin-dashboard .icon, .icon_header {
  margin-right: 5px;
}

.admin-dashboard .close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.admin-dashboard .grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}



/* Main  */  
.admin-dashboard .main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px 20px 300px ;
  color: rgba(95, 94, 97, 0.95);
  background-color: rgb(5, 52, 2);
  height: 750px;
}

.admin-dashboard .main-title {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  
  
}

.admin-dashboard .main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
  
}
.admin-dashboard .card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


.admin-dashboard .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  
}

.admin-dashboard .card:first-child {
  background-color:white;
  color:rgb(62, 96, 248);
  
  
}

.admin-dashboard .card:nth-child(2){
  background-color:white;
  color: rgb(239, 194, 14);
 
}

.admin-dashboard .card:nth-child(3){
  background-color:white;
  color: rgb(208, 34, 34);
}

.admin-dashboard .card:nth-child(4) {
  background-color:white;
  color: rgb(2, 173, 102);
}

.admin-dashboard .card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.admin-dashboard .card-inner > .card_icon_1 {
  font-size: 25px;
  color:rgb(62, 96, 248);
}
.admin-dashboard .card-inner > .card_icon_2{
  font-size: 25px;
  color: rgb(239, 194, 14);
}
.admin-dashboard .card-inner > .card_icon_3{
  font-size: 25px;
  color: rgb(208, 34, 34);
}
.admin-dashboard .card-inner > .card_icon_4{
  font-size: 25px;
  color: rgb(2, 173, 102);
  

}


/* End Main  */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}


.piechart-container {
  display: flex;
}

.admin-dashboard .transaction-box {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 20px; /* Adjust the spacing between chart and transaction box */
  background-color: #fff;
  color: black;
  margin: 10px;
}


.admin-dashboard .piechart-card{
  background-color: #fff; /* Background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  padding: 20px; 
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  justify-content: center; /* Center the items vertically */
 margin: 10px;
  
}

.admin-dashboard .options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
  color:black;

  .option {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .title {
      display: flex;
      gap: 10px;
      align-items: center;
      color: black;

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }
}

.admin-dashboard .barchart-container {
  display: flex;
}

.admin-dashboard .barchart-card{
  background-color: #fff; /* Background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  padding: 20px; 
  height: 350px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  justify-content: center; /* Center the items vertically */
 margin: 10px;
  
}



/*.dashboard body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f3;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
  
}

.dashboard .icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.dashboard .icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.dashboard .icon, .icon_header {
  margin-right: 5px;
}

.dashboard .close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.dashboard .grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

.dashboard .main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px 20px 300px ;
  color: rgba(30, 123, 9, 0.95);
  
}

.dashboard .main-title {
  display: flex;
  justify-content: space-between;
}

.dashboard .main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.dashboard .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.dashboard .card:first-child {
  background-color: #2962ff;
  
}

.dashboard .card:nth-child(2) {
  background-color: #ff6d00;
}

.dashboard .card:nth-child(3) {
  background-color: #2e7d32;
}

.dashboard .card:nth-child(4) {
  background-color: #d50000;
}

.dashboard .card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: azure;
}

.dashboard .card-inner > .card_icon {
  font-size: 25px;
}

.dashboard .charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  .dashboard #sidebar {
    display: none;
  }

  .dashboard .menu-icon {
    display: inline;
  }

  .dashboard .sidebar-title > span {
    display: inline;
  }
}
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .dashboard .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}


@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}
*/